.chartContainer{
    width: 80%;
    margin: 60px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
}
.chartContainer h2{
    font-size: 1.2rem;
    background-color: white;
    margin: 5px;
    text-align: center;
}
.chartContainer .bts{
    background-color: white;
}
.bts label{
    background-color: white;
}
.bts{
    margin: 10px;
    font-size: 15px;
    background-color: pink;
    display: flex;
    align-items: center;
}
.bts select,option{
    background-color: rgb(195, 153, 234);
    border-radius: 10px;
}
.bts option{
    margin: 20px;
}