.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(165, 42, 128);
    width: 100%;
    padding: 10px;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.logoname h1{
    background-color: rgb(165, 42, 128);
    color: white;
}
.navs ul{
    display: flex;
    list-style: none;
    gap: 20px;
    background-color: rgb(165, 42, 128);
    color: white;
    font-size: 20px;
}
.navs ul li{
    background-color: rgb(165, 42, 128);
}
