@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@700&display=swap');

.readCardContainer{
    margin-top: 100px;
    border: 2px solid rgb(255, 0, 170);
    margin: 10px;
    width: 400px;
    height: 100%;
    background-color: rgb(235, 185, 193);
    box-shadow: 10px 10px 0px black;
    border-top-right-radius: 10px ;
}


.details,h2,p, .readCardContainer h1{
    background-color: rgb(235, 185, 193);
    font-family: 'Lato', sans-serif;
}
.readCardContainer h1{
    font-family: 'Playfair Display', serif;
    padding: 5px;
    font-size: 1.5rem;
    background-color: rgb(237, 138, 166);
    border-top-right-radius: 10px ;
}

.details{
    padding: 5px;
}
.details h2,p{
    margin: 5px;
}
.details h2{
    font-size: 1.3rem;
    font-weight: 550;
}
.details p{
    font-size: 1.2rem;
    font-weight: 600;
}
.readCardContainer button{
    padding: 5px;
    border: none;
    background-color: rgb(241, 92, 92);
    box-shadow: 5px 5px 0px black;
    margin: 5px;
    cursor: pointer;
    color: white;
}
.details a{
    text-decoration: none;
    background-color: rgb(47, 110, 47);
    color: white;
    box-shadow: 5px 5px 0px black;
    padding: 5px;
}
.buttons{
    background-color: rgb(235, 185, 193);
    display: flex;
    gap:1rem;
    align-items: center;
}